.header-image {
  background-image: url("./img/terminal-hero-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
